@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

.app {
  font-family: 'Montserrat', Helvetica, Arial, serif;
}

.app h2 {
  color: #6e6b7b;
  width: 90%;
  margin: auto;
  padding: 3rem 0rem 1.5rem 0.25rem;
}
